<div class="row">
    <div class="twelve columns box">
        <h1>Actions</h1>

    <table>
        <tr>
            <th>Type</th>
            <th>Cost</th>
            <th>When</th>
        </tr>
        {{#each actions}}
        <tr>
            <td>{{type}}</td>
            <td>R{{cost}}</td>
            <td>{{momentDate}}</td>
        </tr>
        {{/each}}

    </table>

    <form action="/" method="get">
        <button class="button-primary">Back</button>
    </form>
    </div>
    {{!-- <a href="/" class="button-primary">BACK</a> --}}
</div>





</div>